/*our clients*/
/*flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);*/
.clients-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      &__item {
            
                  @include d-flex-center;
            }
      &__link {
            @include d-flex-center;
            width: 170px;
            height: 92px;
            color: var(--icon-main-color);
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            transition: var(--animatiom-btn);
            fill: currentColor;
            &:hover,
            &:focus {
                        fill: var(--accent);
                        border-color: var(--accent);
                  }
      }
      
}
