/*hero*/
.hero {
      max-width: 1600px;
      padding: 118px 0;
      background-color: var(--hero-background-color);
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      background-image: 
      linear-gradient(to right,
       rgba(47, 48, 58, 0.4), 
       rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg-mobile@1x.jpg);
   @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/her);
            }
      }

      /*padding-bottom: 200px;
            
            height: 600px;*/
}

.hero__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      color: var(--white);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
}

.hero__button {
      padding: 10px 32px;
      background-color: var(--accent);
      color: var(--white);
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      cursor: pointer;
      border: transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
}