/*footer*/
.footer {
      padding: 60px 0;
      background-color: var(--hero-background-color);
      text-align: center;
}

.footer-wrapper {
      display: block;
      @media screen and (min-width: 1200px) {
            display: flex;
                  align-items: baseline;
      }
      
}
.footer-tablet{
      @media screen and (min-width:768px) {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
      }
      @media screen and (min-width: 1200px) {
                  display: flex;
                  align-items: baseline;
                  text-align: left;
                  margin-bottom: 0;
            }
}
.address {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      @media screen and (min-width:1200px){
            margin-right: 70px;
      }
      &__logo {
                  margin-bottom: 20px;
                  font-weight: 700;
                  color: var(--white);
                  text-decoration: none;
                  font-family: 'Raleway', sans-serif;
                  font-weight: 700;
                  font-size: 26px;
                  line-height: 1.19;
            }
      &__direction {
            display: flex;
            flex-direction: column;
            color: var(--white);
            font-style: normal;
            font-size: 14px;
            line-height: 1.71;
            gap: 9px;
            &--link {
                        color: var(--footer-link-color);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.71;
                        font-style: normal;
                        text-decoration: none;
                        transition: var(--animatiom-btn);
                        &:hover,
                        &:focus {
                                    color: #2196f3;
                              }
                  }
      }
}

/*приєднуємся*/

.footer-social{
display: flex;   
flex-direction: column;
      &__title {
                  color: var(--white);
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 1.14;
                  text-transform: uppercase;
                  margin-bottom: 20px;
      
            }
      &__list {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 60px;
      }
      &__item {
            @include d-flex-center;
      }
      &__link {
            @include d-flex-center;
            background-color: var(--icon-footer-background-color);
            border-radius: 50%;
            width: 44px;
            height: 44px;
            fill: var(--white);
            transition: var(--animatiom-btn);
            &:hover,
            &:focus{
                  background-color: var(--accent);
                  fill: var(--white);
            }
      }
}

/*форма футера*/
.form {
      margin-left: auto;
      @media screen and (min-width:1200px) {
                  text-align: start;;
                  
            }
}

.footer-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 12px;
      @media screen and (min-width:1200px) {
            display: flex;
            flex-direction: row;
            margin-left: auto;
      }
      
      &__label {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 1.14;
                  text-transform: uppercase;
                  color: var(--white);
                 
            }
      &__input {
            width: 450px;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: transparent;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
            @media screen and (min-width: 1200px){
                  width: 358px;
            }
            &::placeholder {
                        padding-right: 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.25;
                        display: flex;
                        align-items: center;
                        color: rgba(255, 255, 255, 0.6);
                  }
      }
      &__button {
            @include d-flex-center;
            padding: 10px 28px;
            gap: 10px;
            width: 200px;
            height: 50px;
            background-color: var(--accent);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border-color: transparent;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--white);
      }
}

.submit-icon {
      fill: var(--white);
}